// _variables.scss

// Colores principales
$black: #121212;
$gold: #FFD700;
$white: #FFFFFF;

// Colores secundarios
$dark-red: #8B0000;
$dark-grey: #333333;
$amber: #FFBF00;

// Colores de interacción
$green: #28a745;
$dark-blue: #003366;
